<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
welcome <br/>
<input type="text" id="text" />
<button onclick="send()">send</button>
<button onclick="closeWebSocket()">Close</button>
<div id="message"></div>

<script>
    var websocket = null;
    if('WebSocket' in window){
        websocket = new WebSocket("ws://localhost:8080/websocket");
    }else{
        alert("Not support websockt")
    }

//    连接发生错误的回调方法
    websocket.onerror = function () {
        setMessageInnerHTML("error");
    }
//    连接成功建立的回调方法
    websocket.onopen = function(event){
        setMessageInnerHTML("open");
    }
    接受到消息的回调方法
    websocket.addEventListener('message',function(event){
        console.log(event.data)
    })
//    连接关闭的回调方法
    websocket.onclose = function () {
        setMesageInnerHTML("close");
    }
//    监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接
    window.onbeforeunload = function () {
        websocket.close();
    }
//    将消息显示在网页上
    function setMessageInnerHTML(innerHTML) {
        document.getElementById('message').innerHTML += innerHTML + '<br/>';
    }

//    关闭连接
    function closeWebSocket() {
        websocket.close();
    }
//    发送消息
    function  send() {
        var message = document.getElementById('text').value;
        websocket.send(message);
    }

</script>
</body>
</html>